@model Avisos.Models.HomePageAvisos

@{
    ViewBag.Title = "MiParque";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Past Avisos</h3>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Avisos.First().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avisos.First().Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avisos.First().Publish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avisos.First().Created)
        </th>
    </tr>

@foreach (var item in Model.Avisos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
    </tr>
}

</table>
